<h1>All contacts with aliens</h1>
<br />
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>City</th>
      <th>Contact</th>
      <th>Contact num</th>
      
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        
      	<td><%= city.name %></td>
        <td><%= city.contacts.count %></td>
        <td><%= city.contacts.sum(:contact_num) %></td>
<% end %>
      </tr>
   
  </tbody>
</table>

<br>


