table {
	font-size: 16px;
}

body {
	font-family: 'Lobster';
	background: url('/assets/greyzz.png');
}

.alien {
	position: fixed;
	bottom: 0;
	right: 0;

}

.menu {
	margin-right: 20px;
	border: 1px solid #adadad;
}

.menu:hover {
	text-decoration: none;
}

.login {
	margin-top: 15px;
	font-size: 18px;
	text-align: right;
}

.alert {
	margin-top: 18px;
}

.notice {
	margin-top: 18px;
}